/*HTML Clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.editing{
  border:2px solid 
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

h3.gallery_title{
  font-size: 1.8em;
  font-family: "georgia", serif;
  font-weight: bold;
  margin-bottom: 7px;
  color: steelBlue;
}

#my_cb_gallery{
  border:1px dashed #4D4D4D;
  padding:5px;
}
.being_edited{
  border:2px solid green !important;
}
.being_cloned{
  border:2px solid #ffc000 !important;
}
#my_cb_gallery .dragable.being_deleted{
  border:2px solid red;
}

#my_cb_gallery .dragable{
  padding:3px;
  background: url(../img/my_cb_gallery_bg.png) repeat-x top;
  border:1px solid #ccc;
  margin:3px;
  height:62px;
  cursor:move;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#my_cb_gallery .inner_wrap{
  float:left;
  height: 40px;
  overflow: hidden;
  width: 70%;
  background: url(../img/move_bg.png) no-repeat 3px 9px
}

#my_cb_gallery div p.media_caption{
  margin:0 0 0 27px;
  font: italic 1em "georgia", serif;
}

#my_cb_gallery div .media_menu{
  color:brown;
  width:80%;
  float:left;
  cursor: auto;
}

#my_cb_gallery h2{
  margin-left: 30px;
  font-family: "georgia", serif;
}

#my_cb_gallery .img_wrapper{
  padding:0;
  margin:0;
  height:60px;
  width:70px;
  overflow: hidden;
  border:1px solid #ccc;
  float:right;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#edit-thumbnail-width{
	width:100px;
}
#edit-gallery-name{
	width:400px;
}
#my_cb_gallery div img{
  max-height:60px;
}
#live_preview{
  float: right;
  height: 200px;
  width: 260px;
}

#live_preview #preview_wrapper{
  padding: 4px;
  width: 150px;
}
#live_preview #preview_wrapper li, #live_preview #preview_wrapper div{
  border:1px solid #ccc;  
}

#live_preview h2{
  margin:0px 0px 0px 7px;
}
#live_preview #thumb_port ul{
  margin:0;
}
#live_preview #viewport{
  margin-bottom:2px;
}
/**
 *FourByThree 4:3 ratio
 */
#live_preview.fourByThree #viewport p{
  margin: 0 auto;
  padding: 48px 0 0 0;
  width: 53px;
}
#live_preview.fourByThree #viewport {
  height: 113px;
}
#live_preview.noViewport #viewport{
  display:none;
}
#live_preview.fourByThree #thumb_port li{
  padding:0;
  height: 25px;
  width: 33px;
  float: left;
  margin: 1px;
}
/**
 *sixteenByNine 16:9 ratio
 */
#live_preview.sixteenByNine #viewport p{
  margin: 0 auto;
  padding: 35px 0 0 0;
  width: 53px;
}
#live_preview.sixteenByNine #viewport {
  height: 84px;
}
#live_preview.sixteenByNine #thumb_port{
  
}
#live_preview.sixteenByNine #thumb_port li{
  padding:0;
  height: 18px;
  width: 33px;
  float: left;
  margin: 1px;
}
/*
#live_preview #thumbnail_preview{
	border:1px solid red;
	margin:0 auto;
    display: table-cell;
    vertical-align: middle;
		width:167px;
		height:125px;
}
#live_preview #thumbnail_preview p{
	text-align:center;
	margin:0 auto;
}*/
/*LIVE STYLES*/
.cb_gallery_content.fourbythree div, .cb_gallery_content.fourbythree ul,.cb_gallery_content.fourbythree li{
  border:1px solid red;
}
.cb_gallery_content.fourbythree .viewport p{
  margin: 0 auto;
  padding: 35px 0 0 0;
  width: 53px;
}
.cb_gallery_content.fourbythree .viewport {
  height: 84px;
}
ul.thumbport li{
  padding:0;
  margin:0;
  float:left;
  background:none;
  
}
ul.thumbport li p{
  padding:0;
  margin:0;
  overflow:hidden;
  border:1px solid #ccc;
}
.cb_gallery_content .thumb_port{
  padding-right:4px;
}
.cb_gallery_content.fourbythree .thumb_port li{
  padding:0;
  height: 83px;
  width: 110px;
  float: left;
  margin: 4px 0 4px 4px;
  overflow: hidden;
}
.cb_gallery_content.fourbythree .thumb_port li img{
  width:100%;
  position:left top;
}


